$primary-font: "Play", sans-serif;

/*--------------------------- Color variations ----------------------*/
$main_bg_color: #111111;
$star_color: #fb9200;
$btn_color: #40a536;
$btn_color: #40a536;
$link_color: #63b2e4;
/*--------------------------- scss code ----------------------*/

// Responsive Breakpoints

@mixin flex-column-gap {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@mixin flex-row-gap {
  display: flex;
  gap: 0.5rem;
}

@mixin breakpoint($breakpoint) {
  @if $breakpoint == small {
    @media (max-width: 576px) {
      @content;
    }
  } @else if $breakpoint == medium {
    @media (max-width: 868px) {
      @content;
    }
  } @else if $breakpoint == large {
    @media (max-width: 1392px) {
      @content;
    }
  }
}

// Define your color palette using a Sass map
$colors: (
  1: #ffffff,
  2: #e8e0ca,
  3: #111111,
  4: #d8d9db,
  5: #a0a0a0,
  6: #a19386,
  7: #7e7d7d,
  8: #3d3d3d,
  9: #393b3d,
  10: #2c3344,
  11: #283465,
  12: #527ab8,
  13: #96b6d6,
  14: #63b2e4,
  15: #92b5be,
  16: #7b9fb7,
  17: #4a6e92,
  18: #006b95,
  19: #009cb5,
  20: #a09dcd,
  21: #3b2962,
  22: #b3082d,
  23: #7d1836,
  24: #490025,
  25: #da7cb1,
  26: #da7cb1,
  27: #efc8dc,
  28: #da5a67,
  29: #e38713,
  30: #fad569,
  31: #edd98b,
  32: #e9977d,
  33: #c3461a,
  34: #dc451a,
  35: #243326,
  36: #504f39,
  37: #38854f,
  38: #acc5a0,
  39: #9da67e,
  40: #b0cc59,
  41: #f2e22c,
  42: #bdb39e,
  43: #36291f // Add more colors here...,,
);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $primary-font;
  background: $main_bg_color;
  color: white;
}

.single-product {
  padding-inline: clamp(100px, 8vw, 151px);
  max-width: 1920px;
  margin-inline: auto;
  header {
    margin-top: 35px;
  }
  ul {
    padding-left: 40px;
  }
  &__header {
    display: flex;
    gap: 6vw;
    color: white;
    .single-product__images {
      width: 44vw;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: center;
      .single-product__main-image {
        margin-top: 47px;
        margin-bottom: 61px;
        width: clamp(150px, 25vw, 369.63px);
      }
      .single-product__thumbnail-list {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: 1.05rem;
        @include breakpoint(large) {
          grid-template-columns: repeat(4, 1fr);
        }
        // width: clamp(100px, 20vw, 200px);
        .single-product__thumbnail-list__item {
          width: clamp(30px, 6vw, 58.06px);
          flex-wrap: wrap;
          background-color: white;
        }
      }
    }
    .single-product__description {
      width: 41vw;
      display: flex;
      flex-direction: column;
      gap: 10px;
      // First Page Design
      .single-product__title--1 {
        font-size: clamp(40px, 3vw, 51.35px);
        font-weight: 700;
      }
      .single-product__rating {
        @include flex-row-gap();
        gap: 8px !important;
        position: relative;
        .single-product__rating-stars {
          .star__icons {
            color: $star_color;
            height: 17.48px;
            width: 18.19px;
          }
        }
        .single-product__rating-review {
          color: #9a9a9b;
          font-size: 17.53px;
          margin-right: 8px;
        }
        .single-product__bar {
          height: 30px;
          position: relative;
          bottom: 5px;
          left: -3px;
          border-right: 1px solid #9a9a9b;
        }
        .single-product__link {
          text-decoration: none;
          color: #9a9a9b;
          font-size: 17.53px;
        }
      }
      .single-product__paragraph--1 {
        min-height: 112px;
        width: auto;
        font-size: clamp(17px, 1.2vw, 19px);
        line-height: 30px;
        margin-bottom: 1rem;
      }
      .single-product__button--1 {
        width: 100%;
        height: 53.58px;
        cursor: pointer;
        margin-block: 10px;
        border: none;
        background-color: $btn_color;
        font-size: clamp(26px, 2.3vw, 32.22px);
        font-weight: 700;
      }

      .single-product__hashtag {
        font-size: clamp(20px, 1.6vw, 23px);
      }

      .single-product__template-list--1 {
        @include flex-row-gap();
        padding-left: clamp(2rem, 5vw, 5rem);
        .single-product__template-list__item {
          width: clamp(100px, 10vw, 184px);
        }
      }
      .single-product__size--1 {
        display: flex;
        flex-direction: column;
        .single-product__size__title {
          font-size: clamp(18px, 1.8vw, 20.25px);
          font-weight: bold;
          margin-bottom: 6.34px;
        }
        .single-product__sizes__options {
          display: flex;
          flex-wrap: wrap;
          font-size: clamp(18px, 1.8vw, 20.81px);
          margin-bottom: 16px;
          gap: 1rem;
          align-items: center;
          .single-product__sizes__options__bar {
            height: 20px;
            width: 2px;
            position: relative;
            top: 3px;
            background-color: #7e7d7d;
          }
        }
        .single-product__links {
          .single-product__links__item:first-child {
            color: $link_color;
            font-size: clamp(18px, 1.8vw, 21.15px);
            margin-right: 5px;
          }
          .single-product__links__item:last-child {
            color: $link_color;
            font-size: clamp(18px, 1.8vw, 21.15px);
            margin-left: 5px;
          }
        }
      }

      // Second Page Design
      .single-product__colors__title--1 {
        font-size: 23px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;
        .single-product__colors__title__toggle-btn {
          display: flex;
          cursor: pointer;
          justify-content: space-between;
          align-items: center;
          .switch {
            position: relative;
            display: inline-block;
            width: 47.91px;
            height: 25.7px;
            margin-left: 1rem;
          }

          .switch input {
            opacity: 0;
            width: 0;
            height: 0;
          }
          .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: 0.4s;
            transition: 0.4s;
          }
          .slider:before {
            position: absolute;
            content: "";
            height: 22px;
            width: 22px;
            left: 2px;
            bottom: 2px;
            background-color: white;
            -webkit-transition: 0.4s;
            transition: 0.4s;
          }

          input:checked + .slider {
            background-color: #2196f3;
          }

          input:focus + .slider {
            box-shadow: 0 0 1px #2196f3;
          }

          input:checked + .slider:before {
            -webkit-transform: translateX(22px);
            -ms-transform: translateX(22px);
            transform: translateX(22px);
          }

          .slider.round {
            border-radius: 34px;
          }

          .slider.round:before {
            border-radius: 50%;
          }
        }
      }
      .single-product__colors--1 {
        display: flex;
        flex-wrap: wrap;
        gap: 0.65rem;
        .color__picker {
          display: inline-block;
          height: 30px;
          width: 30px;
          // background-color: #fff;
          // visibility: hidden;
          border-radius: 15px;
        }
        $counter: 1;
        // Generate the color picker styles using a loop
        @each $key, $value in $colors {
          .color__picker--#{$counter} {
            background-color: $value;
            // Additional styling for the color picker element
            // ...
          }

          $counter: $counter + 1; // Increment the counter variable
        }
      }
      .single-product__sizes--2 {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        .single-product__sizes__title {
          font-size: 20.25px;
          font-weight: bold;
          margin-bottom: 6.34px;
          display: flex;
          align-items: center;
          gap: 0.7rem;
          .single-product__sizes__color {
            display: inline-block;
            height: 21.48px;
            width: 21.48px;
            border-radius: 4px;
            background-color: #63b2e4;
          }
          .single-product__sizes__color__name {
            // null
            font-size: 19px;
          }
        }
        .single-product__sizes__options {
          display: flex;
          flex-wrap: wrap;
          font-size: 20.81px;
          margin-bottom: 16px;
          gap: 1rem;
          align-items: center;

          .single-product__size__option__bar {
            height: 20px;
            width: 2px;
            position: relative;
            top: 3px;
            background-color: #7e7d7d;
          }
        }
        .single-product__size__check {
          font-size: 21px;
          margin-bottom: 4px;
        }
        .single-product__description__links {
          &__link {
            color: $link_color;
            font-size: 21.15px;
          }
        }
      }
      // Third Page Design
      .single-product__colors__title--2 {
        font-size: 23px;
        display: flex;
        margin-bottom: 24px;
        justify-content: space-between;
        align-items: center;
      }
      .single-product__colors--2 {
        display: flex;
        flex-wrap: wrap;
        gap: 0.7rem;
        margin-bottom: 16px;
        .color__picker {
          display: inline-block;
          height: 30px;
          width: 30px;
          // background-color: #fff;
          // visibility: hidden;
          border-radius: 15px;
        }
        $counter: 1;
        // Generate the color picker styles using a loop
        @each $key, $value in $colors {
          .color__picker--#{$counter} {
            background-color: $value;
            // Additional styling for the color picker element
            // ...
          }

          $counter: $counter + 1; // Increment the counter variable
        }
      }
      .single-product__form__wrapper {
        .single-product__form {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          label {
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 8px;
            text-transform: uppercase;
          }
          input {
            height: 53.58px;
            border: 1px solid #707070;
            background: transparent;
            padding: 2px 5px;
            color: white;
          }
          &__btn {
            margin-top: 1rem;
            width: 100%;
            cursor: pointer;
            height: 53.58px;
            padding: 10px 5px;
            border: none;
            background-color: $btn_color;
            font-size: 32.22px;
            font-weight: bold;
          }
        }
      }
      // Fourth Page Design
      .single-product__title--2 {
        margin-top: 60px;
        font-size: clamp(40px, 3vw, 51.35px);
        font-weight: 700;
      }
      .single-product__paragraph--2 {
        // height: 112px;
        font-size: 19px;
        line-height: 30px;
        margin-bottom: 2rem;
      }
      .single-product__images--2 {
        @include flex-row-gap();
        gap: 2rem !important;
        justify-content: center;
        .single-product__image {
          width: clamp(100px, 10vw, 184px);
        }
      }
      .single-product__button--2 {
        width: 100%;
        height: 53.58px;
        margin-top: 40px;
        border: none;
        background-color: $btn_color;
        font-size: 32.22px;
        font-weight: 700;
      }
    }
  }
  &-overview {
    margin-top: 100px;
    display: flex;
    gap: 3rem;

    &__features {
      flex: 0.75;
      .single-product-overview__title {
        font-size: 52.5px;
        margin-bottom: 35px;
      }
      line-height: 24px;
      .single-product-overview__feature-caption {
        font-size: 18.33px;
      }
      .single-product-overview__feature-list {
        font-size: 19px;
        margin-top: 1rem;
        list-style: none;
        li:before {
          content: "•";
          font-size: 10pt !important;
        }
      }

      // .single-product-overview__feature-list--tiny-dot {
      //   list-style: none;
      //   li:before {
      //     content: "•";
      //     font-size: 3pt !important;
      //   }
      // }
    }
    &__additional {
      flex: 1;
      font-size: 19px;
      margin-top: 4rem;
      @include flex-column-gap;
      .single-product-overview__additional__title {
        font-size: 18.33px;
      }
      .single-product-overview__delivery-title {
        font-size: 18.33px;
        margin-bottom: 0.5rem;
      }
      .single-product-overview__other-title {
        margin-bottom: 0.5rem;
        font-size: 18.33px;
      }
      .single-product-overview__minimum-title {
        margin-top: 1rem;
        font-size: 18.33px;
      }
      .single-product-overview__delivery-list {
        margin-bottom: 0.5rem;
        @include flex-column-gap;
        list-style: none;
        li:before {
          content: "•";
          font-size: 10pt !important;
          margin-right: 5px;
        }
      }
      // .single-product-overview__feature-list--tiny-dot {
      //   list-style: none;
      //   li:before {
      //     content: "•";
      //     font-size: 7pt;
      //     margin-right: 5px;
      //   }
      // }
    }
  }
  &__information {
    margin-top: 80px;
    @include flex-column-gap();
    gap: 1.5rem !important;
    &__title {
      font-size: 52px;
    }
    &__paragraph {
      font-size: 19px;
      line-height: 25px;
    }
    &__paragraph--small {
      line-height: 23px;
      font-size: 15.2px;
    }
  }
  &__footer__wrapper {
    margin-left: 30.4vw;
    margin-block: 100px;
    .single-product__footer {
      display: flex;
      flex-direction: column;
      align-items: start;

      &__title {
        font-size: 35.58px;
        font-weight: 400;
        margin-bottom: 20px;
      }
      &__description {
        font-size: 18.14px;
        margin-bottom: 40px;
      }
      &__support {
        font-size: 23.52px;
        .single-product__footer__number {
          border-right: 1.7px solid white;
          padding-right: 15px;
        }
        .single-product__footer__chat-btn {
          border: 1.7px solid white;
          background-color: transparent;
          cursor: pointer;
          color: white;
          font-size: 19px;
          border-radius: 10px;
          width: 148.1px;
          height: 58.85px;
          margin-left: 18px;
          // margin-top: 1.5rem;
        }
      }
    }
  }
}
