$primary-font: "Play", sans-serif;

/*--------------------------- Color variations ----------------------*/
$main_bg_color: #111111;
$star_color: #fb9200;
$btn_color: #40a536;
$btn_color: #40a536;
$link_color: #63b2e4;
/*--------------------------- scss code ----------------------*/

// Responsive Breakpoints

@mixin flex-column-gap {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@mixin flex-row-gap {
  display: flex;
  gap: 0.5rem;
}

@mixin breakpoint($breakpoint) {
  @if $breakpoint == small {
    @media (max-width: 576px) {
      @content;
    }
  } @else if $breakpoint == medium {
    @media (max-width: 868px) {
      @content;
    }
  } @else if $breakpoint == large {
    @media (max-width: 1392px) {
      @content;
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $primary-font;
  background: $main_bg_color;
  color: white;
}

.product {
  padding-inline: clamp(100px, 8vw, 151px);
  max-width: 1920px;
  margin-inline: auto;
  header {
    margin-top: 35px;
  }
  ul {
    padding-left: 40px;
  }
  &__header {
    display: flex;
    gap: 6vw;
    color: white;
    .product__images {
      width: 44vw;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: center;
      .product__main-image {
        margin-top: 47px;
        margin-bottom: 61px;
        width: clamp(150px, 25vw, 369.63px);
      }
      .product__thumbnail__images__list {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: 1.05rem;
        @include breakpoint(large) {
          grid-template-columns: repeat(4, 1fr);
        }
        // width: clamp(100px, 20vw, 200px);
        .product__thumbnail-image {
          width: clamp(30px, 6vw, 58.06px);
          flex-wrap: wrap;
          background-color: white;
        }
      }
    }
    .product__description {
      width: 41vw;
      display: flex;
      flex-direction: column;
      gap: 10px;
      // First Page Design
      .product__title--1 {
        font-size: clamp(40px, 3vw, 51.35px);
        font-weight: 700;
      }

      &__rating__review {
        @include flex-row-gap();
        gap: 8px !important;
        position: relative;
        .product__feature__rating-stars {
          .star__icons {
            color: $star_color;
            height: 17.48px;
            width: 18.19px;
          }
        }
        .product__number-of-reveiws {
          color: #9a9a9b;
          font-size: 17.53px;
          margin-right: 8px;
        }
        .bar {
          height: 30px;
          position: relative;
          bottom: 5px;
          left: -3px;
          border-right: 1px solid #9a9a9b;
        }
        .product__description__rating__review__link {
          text-decoration: none;
          color: #9a9a9b;
          font-size: 17.53px;
        }
      }

      &__paragraph--1 {
        min-height: 112px;
        width: auto;
        font-size: clamp(17px, 1.2vw, 19px);
        line-height: 30px;
        margin-bottom: 1rem;
      }

      &__button--1 {
        width: 100%;
        height: 53.58px;
        cursor: pointer;
        margin-block: 10px;
        border: none;
        background-color: $btn_color;
        font-size: clamp(26px, 2.3vw, 32.22px);
        font-weight: 700;
      }

      .product__template__hashtag {
        font-size: clamp(20px, 1.6vw, 23px);
      }

      &__images--1 {
        @include flex-row-gap();
        padding-left: clamp(2rem, 5vw, 5rem);
        .product__description__image {
          width: clamp(100px, 10vw, 184px);
        }
      }

      .product__sizes--1 {
        display: flex;
        flex-direction: column;
        .product__sizes__title {
          font-size: clamp(18px, 1.8vw, 20.25px);
          font-weight: bold;
          margin-bottom: 6.34px;
        }
        .product__sizes__options {
          display: flex;
          flex-wrap: wrap;
          font-size: clamp(18px, 1.8vw, 20.81px);
          margin-bottom: 16px;
          gap: 1rem;
          align-items: center;
          .product__size__option__bar {
            height: 20px;
            width: 2px;
            position: relative;
            top: 3px;
            background-color: #7e7d7d;
          }
        }
        .product__description__links {
          &__link:first-child {
            color: $link_color;
            font-size: clamp(18px, 1.8vw, 21.15px);
            margin-right: 5px;
          }
          &__link:last-child {
            color: $link_color;
            font-size: clamp(18px, 1.8vw, 21.15px);
            margin-left: 5px;
          }
        }
      }

      // Second Page Design
      .product__colors__title--1 {
        font-size: 23px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;
        .product__colors__title__toggle-btn {
          display: flex;
          cursor: pointer;
          justify-content: space-between;
          align-items: center;
          .switch {
            position: relative;
            display: inline-block;
            width: 47.91px;
            height: 25.7px;
            margin-left: 1rem;
          }

          .switch input {
            opacity: 0;
            width: 0;
            height: 0;
          }
          .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: 0.4s;
            transition: 0.4s;
          }
          .slider:before {
            position: absolute;
            content: "";
            height: 22px;
            width: 22px;
            left: 2px;
            bottom: 2px;
            background-color: white;
            -webkit-transition: 0.4s;
            transition: 0.4s;
          }

          input:checked + .slider {
            background-color: #2196f3;
          }

          input:focus + .slider {
            box-shadow: 0 0 1px #2196f3;
          }

          input:checked + .slider:before {
            -webkit-transform: translateX(22px);
            -ms-transform: translateX(22px);
            transform: translateX(22px);
          }

          .slider.round {
            border-radius: 34px;
          }

          .slider.round:before {
            border-radius: 50%;
          }
        }
      }
      &__colors--1 {
        // display: grid;
        // grid-template-columns: repeat(18, 1fr);
        display: flex;
        flex-wrap: wrap;
        gap: 0.65rem;
        .color__picker {
          display: inline-block;
          height: 30px;
          width: 30px;
          background-color: #fff;
          border-radius: 15px;
        }
      }
      .product__sizes--2 {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        .product__sizes__title {
          font-size: 20.25px;
          font-weight: bold;
          margin-bottom: 6.34px;
          display: flex;
          align-items: center;
          gap: 0.7rem;
          .product__sizes__color {
            display: inline-block;
            height: 21.48px;
            width: 21.48px;
            border-radius: 4px;
            background-color: #63b2e4;
          }
          .product__sizes__color__name {
            // null
            font-size: 19px;
          }
        }
        .product__sizes__options {
          display: flex;
          flex-wrap: wrap;
          font-size: 20.81px;
          margin-bottom: 16px;
          gap: 1rem;
          align-items: center;

          .product__size__option__bar {
            height: 20px;
            width: 2px;
            position: relative;
            top: 3px;
            background-color: #7e7d7d;
          }
        }
        .product__size__check {
          font-size: 21px;
          margin-bottom: 4px;
        }
        .product__description__links {
          &__link {
            color: $link_color;
            font-size: 21.15px;
          }
        }
      }
      // Third Page Design
      .product__colors__title--2 {
        font-size: 23px;
        display: flex;
        margin-bottom: 24px;
        justify-content: space-between;
        align-items: center;
      }
      &__colors--2 {
        display: grid;
        grid-template-columns: repeat(18, 1fr);
        gap: 0.7rem;
        margin-bottom: 16px;
        .color__picker {
          display: inline-block;
          height: 30px;
          width: 30px;
          background-color: #fff;
          border-radius: 15px;
        }
      }
      .product__form__wrapper {
        .product__form {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          label {
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 8px;
            text-transform: uppercase;
          }
          input {
            height: 53.58px;
            border: 1px solid #707070;
            background: transparent;
            padding: 2px 5px;
            color: white;
          }
          &__btn {
            margin-top: 1rem;
            width: 100%;
            cursor: pointer;
            height: 53.58px;
            padding: 10px 5px;
            border: none;
            background-color: $btn_color;
            font-size: 32.22px;
            font-weight: bold;
          }
        }
      }
      // Fourth Page Design
      .product__title--2 {
        margin-top: 60px;
        font-size: 51.35px;
        font-weight: 700;
      }
      &__paragraph--2 {
        height: 112px;
        font-size: 19px;
        line-height: 30px;
        margin-bottom: 8rem;
      }
      &__images--2 {
        @include flex-row-gap();
        // justify-content: center;
        padding-left: 5rem;
        .product__description__image {
          width: clamp(100px, 10vw, 184px);
        }
      }
      &__button--2 {
        width: 100%;
        height: 53.58px;
        margin-top: 50px;
        border: none;
        background-color: $btn_color;
        font-size: 32.22px;
        font-weight: 700;
      }
    }
  }

  &-overview {
    margin-top: 100px;
    display: flex;
    gap: 3rem;
    &__title {
      font-size: 52.5px;
      margin-bottom: 35px;
    }
    &__features {
      flex: 0.75;
      // font-size: 18.33px;
      line-height: 24px;
      .product-overview__feature-caption {
        font-size: 18.33px;
      }
      .product-overview__feature-list {
        font-size: 19px;
        margin-top: 1rem;
      }
    }
    .tiny-dot {
      list-style: none;
    }
    .tiny-dot {
      .product-overview__feature:before {
        content: "•";
        font-size: 7pt;
      }
    }
    &__additional {
      flex: 1;
      font-size: 19px;
      margin-top: 4rem;
      @include flex-column-gap;
      .product-overview__additional__title {
        font-size: 18.33px;
      }
      .product-overview__delivery-title {
        font-size: 18.33px;
        margin-bottom: 0.5rem;
      }
      .product-overview__other-title {
        margin-bottom: 0.5rem;
        font-size: 18.33px;
      }
      .product-overview__minimum-title {
        margin-top: 1rem;
        font-size: 18.33px;
      }
      .product-overview__delivery-list {
        margin-bottom: 0.5rem;
        @include flex-column-gap;
      }
      .tiny-dot {
        list-style: none;
      }
      .tiny-dot {
        li:before {
          content: "•";
          font-size: 7pt;
          margin-right: 5px;
        }
      }
    }
  }
  &__information {
    margin-top: 80px;
    @include flex-column-gap();
    gap: 1.5rem !important;
    &__title {
      font-size: 52px;
    }
    &__paragraph {
      font-size: 19px;
      line-height: 25px;
    }
    &__paragraph--small {
      line-height: 23px;
      font-size: 15.2px;
    }
  }
  &__footer__wrapper {
    margin-left: 30.4vw;
    margin-block: 100px;
    .product__footer {
      display: flex;
      flex-direction: column;
      align-items: start;

      &__title {
        font-size: 35.58px;
        font-weight: 400;
        margin-bottom: 20px;
      }
      &__description {
        font-size: 18.14px;
        margin-bottom: 40px;
      }
      &__num__btn {
        font-size: 23.52px;
        .product__footer__num {
          border-right: 1.7px solid white;
          padding-right: 15px;
        }
        .chat__now__btn {
          border: 1.7px solid white;
          background-color: transparent;
          cursor: pointer;
          color: white;
          font-size: 19px;
          border-radius: 10px;
          width: 148.1px;
          height: 58.85px;
          margin-left: 18px;
          // margin-top: 1.5rem;
        }
      }
    }
  }
}
